@font-face {
	font-family: 'Godo';
	src: url('Godo.ttf');
}

* {
	font-family: 'Godo';
	user-select: none;
}

body {
	margin: 0;
}

#canvas-container {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 600px;
}
